<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{217,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{975,503},{217,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{271,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{1,504},{271,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{215,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{1156,1},{215,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,0}</string>
                <key>spriteSize</key>
                <string>{219,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{754,503},{219,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,0}</string>
                <key>spriteSize</key>
                <string>{219,500}</string>
                <key>spriteSourceSize</key>
                <string>{341,500}</string>
                <key>textureRect</key>
                <string>{{935,1},{219,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bulb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,498}</string>
                <key>spriteSourceSize</key>
                <string>{216,498}</string>
                <key>textureRect</key>
                <string>{{1194,503},{216,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{230,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{522,503},{230,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{230,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{703,1},{230,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{248,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{217,1},{248,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fish_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{246,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{274,503},{246,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fish_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{234,500}</string>
                <key>spriteSourceSize</key>
                <string>{268,542}</string>
                <key>textureRect</key>
                <string>{{467,1},{234,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_matzah.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,498}</string>
                <key>spriteSourceSize</key>
                <string>{215,498}</string>
                <key>textureRect</key>
                <string>{{1373,1},{215,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_matzahball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,498}</string>
                <key>spriteSourceSize</key>
                <string>{215,498}</string>
                <key>textureRect</key>
                <string>{{1590,1},{215,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pencil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,498}</string>
                <key>spriteSourceSize</key>
                <string>{215,498}</string>
                <key>textureRect</key>
                <string>{{1412,501},{215,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{214,501}</string>
                <key>spriteSourceSize</key>
                <string>{262,569}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>character_animation.png</string>
            <key>size</key>
            <string>{1806,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65360ba7f4f923c5e3a6227813ddc189:9b92e2e3a086e93c0fd144293679c0a3:7eec51fb327c6d8ef3ebe0559961d17c$</string>
            <key>textureFileName</key>
            <string>character_animation.png</string>
        </dict>
    </dict>
</plist>
