<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulb_break_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{71,99}</string>
                <key>spriteSourceSize</key>
                <string>{77,99}</string>
                <key>textureRect</key>
                <string>{{918,167},{71,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulb_break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,115}</string>
                <key>spriteSourceSize</key>
                <string>{83,115}</string>
                <key>textureRect</key>
                <string>{{905,50},{83,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,177}</string>
                <key>spriteSourceSize</key>
                <string>{180,177}</string>
                <key>textureRect</key>
                <string>{{1070,1},{180,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,104}</string>
                <key>spriteSourceSize</key>
                <string>{259,104}</string>
                <key>textureRect</key>
                <string>{{1,148},{259,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_break_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,47}</string>
                <key>spriteSourceSize</key>
                <string>{342,47}</string>
                <key>textureRect</key>
                <string>{{726,1},{342,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-2}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{352,154},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{74,102}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{726,168},{74,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulb_light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,5}</string>
                <key>spriteSize</key>
                <string>{92,112}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{639,52},{92,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_light_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,7}</string>
                <key>spriteSize</key>
                <string>{134,152}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{1402,1},{134,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulb_light_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{148,164}</string>
                <key>spriteSourceSize</key>
                <string>{360,330}</string>
                <key>textureRect</key>
                <string>{{1252,1},{148,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_wiggle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{426,154},{70,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_wiggle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{76,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{570,166},{76,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_wiggle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{76,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{648,166},{76,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_wiggle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{498,154},{70,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_wiggle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{76,86}</string>
                <key>spriteSourceSize</key>
                <string>{84,106}</string>
                <key>textureRect</key>
                <string>{{830,168},{76,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jewish_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{56,69}</string>
                <key>spriteSourceSize</key>
                <string>{78,81}</string>
                <key>textureRect</key>
                <string>{{1348,167},{56,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzah_break_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{990,50},{76,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matzah_break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,88}</string>
                <key>spriteSourceSize</key>
                <string>{98,88}</string>
                <key>textureRect</key>
                <string>{{262,154},{98,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>matzah_break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,116}</string>
                <key>spriteSourceSize</key>
                <string>{170,116}</string>
                <key>textureRect</key>
                <string>{{733,50},{170,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzah_break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,145}</string>
                <key>spriteSourceSize</key>
                <string>{329,145}</string>
                <key>textureRect</key>
                <string>{{1,1},{329,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzah_break_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,100}</string>
                <key>spriteSourceSize</key>
                <string>{305,100}</string>
                <key>textureRect</key>
                <string>{{332,52},{305,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzah_break_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,49}</string>
                <key>spriteSourceSize</key>
                <string>{392,49}</string>
                <key>textureRect</key>
                <string>{{332,1},{392,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzahball_break_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{1019,180},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzahball_break_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{1063,180},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzahball_break_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{1019,128},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzahball_break_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{1468,155},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matzahball_break_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,138}</string>
                <key>textureRect</key>
                <string>{{1406,155},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pencil_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,94}</string>
                <key>spriteSourceSize</key>
                <string>{30,94}</string>
                <key>textureRect</key>
                <string>{{1252,167},{30,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>throwingitem_animation.png</string>
            <key>size</key>
            <string>{1559,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:970493c2b29d96733130d25d38f3a8c8:1e9eea9af8b80514937fd4fe035c91f4:4172cc91107c112958b87f1906dd2f84$</string>
            <key>textureFileName</key>
            <string>throwingitem_animation.png</string>
        </dict>
    </dict>
</plist>
